<h1>User (#<%= user.id  %>) Details</h1>

<dl>
  <dt>Name</dt>
  <dd>user.first_name user.last_name</dd>
  <dt>Email</dt>
  <dd>user.email</dd>
</dl>

<% if defined?(PublicActivity) %>
  <div class="box-info">
    <%= render partial: 'shared/timeline',
               locals: {activities: @user.all_activities} %>
  </div>
<% end %>
