<!DOCTYPE html>
<html>
<head>
  <title>SoftwearDevise</title>
  <%= stylesheet_link_tag    "softwear_devise/application", media: "all" %>
  <%= javascript_include_tag "softwear_devise/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
